.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    margin: auto;
    background-image: url("https://<axeloei>.github.io/taleofeggy/assets/about-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.menu-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.menu-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-sizing: border-box;
}

.menu-item-name {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}


@media (min-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 768px) and (min-width: 480px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 480px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    .menu-title {
        font-size: 1.5em;
    }

    .menu-item-name {
        font-size: 1em;
    }
}
